
* {
    transition: 0.5s ease;
}
body {
    background-color:rgb(55, 59, 68);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

p {
    color: rgb(255, 255, 255);
    /* Remove this later */
    margin-top: -15px; 
}
header {
    margin-top: 1%;
    text-align: center;
    color: white;
  
}
hr {
    margin-top: -1%;
    width: 50%;
}
#game {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 3rem;
    width: 100%;
    height: 72vh;
    
  }
  
  .grid {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
    background-color:rgb(34, 115, 139);
    border-radius: 15px;
    padding: 15px;
  }
  
  .box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    border-radius: 7px;
    margin: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    background-color: rgb(37, 37, 37);
  }

  .box.right {
    background-color: limegreen;
  }
  .box.partial {
    background-color: orange;
  }

  #winner, #loser {
    background-color:black;
    width: 90%;
    height: 80%;
    margin-top: 80px;
    text-align: center;
    border-radius: 50px;
    position:fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: start;
    display: none;
    overflow: hidden;
  }

  #winner p, #loser p{
    margin-top: 30px;
    display: flex;
    align-items: center;      
    justify-content: center;  
    text-align: center;
  }
  #loser img {
    width: 50%; 
    height: auto;
    max-width: 200px;
    margin: 20px auto 0;
    display: block;
  }
  #reset{
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 15px;
    background-color: royalblue;
    transition: 0.5s ease;
    font-weight: 600;
    color: white;
    font-size: 17px;
  }

  #reset:hover {
    
    padding: 20px;
    font-size: 15px;
  }

  #winner hr, #loser hr {
    margin-top: 5%;
    width: 300px;
  }

  #winner #close, #loser #close {
    right: 5%;
    top: 5%;
    position: absolute;
    color: white;
    background: none;
    border: none;
    transition: 0.3s ease;
  }
  #winner #close:hover, #loser #close:hover {
    background: rgb(255, 255, 255);
  }

 

  